<%- include('../partials/header.ejs') %>

    <div class="studyroomdetails">
		
        <h2><%= room.course %></h2>
        <%if(user == room.author._id){ %>
            <form class="button1">
                <button type="submit" class="button_css"  formmethod="GET" formaction="/rooms/<%= room.id%>/edit"> Edit </button>
                <button type="submit" class="button_css"  formmethod="POST" formaction="/rooms/<%= room.id%>?_method=DELETE"> Delete </button>		
            </form>
        <%}%>
        <br>
        <a><img src='<%= room.imageURL %>' alt="detailimg" width="350" height="185" style="float:left"/></a>
        <div class="Hostedbydetails">
            <h3>Hosted by : <%= room.author.firstName + ' ' + room.author.lastName %></h3>
            <p>Date : <%= room.date%> <br>
            Start Time : <%= room.startTime%><br>
            End Time : <%= room.endTime%><br>
            Location : <%= room.location%></p><br><br>
        </div>
        <h3> Details: </h3>
        <p>	<%= room.content%></p>
    </div>
<%- include('../partials/footer.ejs') %>